.one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2.5rem 0;
  padding: 2rem;
  padding-right: 4rem;
  box-shadow: 0px 5px 15px -5px rgb(30, 30, 30);
}

.one:nth-child(odd) {
  flex-direction: row-reverse;
}

.imgDiv {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 35%;
}

.info {
  text-align: center;
  width: 50%;
}

.info h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.info p {
  font-size: 1.5rem;
}

.info h3,
.info p {
  color: rgb(50, 50, 50);
  text-shadow: none;
}

@media (min-width: 1900px) {
  .img {
    width: 30%;
  }
  .one {
    width: 85%;
  }
}

@media (max-width: 40rem) {
  .one,
  .one:nth-child(odd) {
    flex-direction: column;
    padding: 1rem;
    background-image: none;

    margin: 1rem 0;
  }

  .img {
    width: 60%;
    margin-bottom: 1rem;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .info h3 {
    margin: 0;
    font-size: 2rem;
  }

  .info p {
    display: none;
  }
}
