.carouselSec {
    padding: 1rem 0;
    width: 90%;
}

@media (min-width: 1900px) {
   .carouselSec {
       width: 80%;
       height: 1100px;
   }
  }
  

  @media (max-width: 40rem) {
.carouselSec {
    width: 90%;
    border: none;
    /* min-height: 320px; */
    /* padding: 1rem 0; */
}
  }
  